body {
	margin: 0;
	padding: 0;
}

#maindiv {
	position: absolute;
	left: -270px;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

#buttons {
	position: relative;
	margin: 0;
	padding: 0;
	left: 270px;
	top: -300px;
	width: 100%;
}

table {
	width: 285px;
	text-align: center;
	padding: 0;
	margin: 0;
}

#menu {
	width: 30px;
	text-align: center;
}

#convert {	}

#separator {
	height: 3px;
}

#filelocation {
	position: relative;
	padding: 10px;
	left: 270px;
	top: -300px;
}

#browse {
	position: absolute;
	width: 40px;
	right: 10px;
}

#filename {
	width: 230px;
}

.clickable {
	cursor: pointer;
}

#menudiv {
	padding: 0;
	margin: 0;
	width: 270px;
	height: 300px;
	background-color: #f9f9f9;
}

h1 {
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
	font-weight: normal;
	border-right: 1px solid #f9f9f9;
}

#buttons, h1 {
	background-color: #eeeeee;
	font-size: 15px;
}