body {
	margin: 0;
	padding: 0;
}

#maindiv {
	position: absolute;
	left: -270px;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#buttons {
	position: relative;
	margin: 0;
	padding: 0;
	left: 270px;
	top: -300px;
	width: 100%;
}

table#buttontable {
	width: 285px;
	text-align: center;
	padding: 0;
	margin: 0;
}

table#menutable {
	width: 100%;
	padding: 0;
	margin: 0;
}

#menu {
	width: 30px;
	text-align: center;
}

#convert {	}

#separator {
	height: 3px;
}

#filelocation {
	position: relative;
	padding: 10px;
	left: 270px;
	top: -300px;
}

#browse {
	position: absolute;
	width: 40px;
	right: 10px;
}

.filename {
	width: 230px;
}

.clickable {
	cursor: pointer;
}

#menudiv {
	padding: 0;
	margin: 0;
	width: 270px;
	height: 300px;
	background-color: #f9f9f9;
}

#title {
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
	border-right: 1px solid #f9f9f9;
}

#buttons, #title {
	background-color: #eeeeee;
	font-size: 15px;
}

#menucontent {
	padding: 10px;
}

.button {
	text-align: center;
	padding: 5px;
	background-color: #eeeeee;
}

.button:hover {
	background-color: #fdfdfd;
}

#filetable {
	padding: 0;
	margin: 0;
	width: 280px;
}